#contacts-component {
    width: var(--mobile-default-component-width);
    display: flex;
    justify-content: center;
    color: white;
    margin: 5px;
    padding: 10px 0px;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

#contacts-list {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

#contacts-item {
    margin: 0;
}

.icons {
    color: black;
    font-size: 25px;
}
