* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: var(--main-background);
    color: var(--main-black);
}

ul {
    list-style: none;
}
