#avatardiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}
#usr-avatar {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

/* #square {
    width: 100vw;
    height: 10vh;
    background-color: var(--main-gray);
    z-index: -1;
    margin-bottom: 0;
} */
